body {
    background: linear-gradient(to right, rgb(61, 87, 61), rgb(93, 39, 39));
}
#header {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: max-content;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid pink;
    border-bottom-right-radius: 5px;
    font-family: fantasy;
}

#button {
    padding: 5px;
    border: 2px solid rgb(175, 54, 54);
    border-radius: 3px;
    background-color: rgb(175, 54, 54);
}

#button:hover {
    background-color: rgb(255, 40, 40);
}

#userinput {
    border-bottom: 2px solid gray;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    width: 250px;
}
.input {
    border: 2px;
    border-radius: 10px;
    background-color: rgb(175, 54, 54);
    width: 250px;
    padding: 5px;
}
.list {
    display: flex;
    justify-content: center;
    background-color: rgb(175, 54, 54);
    border-radius: 10px;
    padding: 2em;
    width: 100%

}

li > button {
    position: relative;
    padding: 5px;
    margin-left: 30px;
    background-color: lightcoral;
    border-radius: 30px;
    border-color: lightcoral;
}


.delete {
    display: none;
}

.done {
    background: green !important;
    color: blue;
    border-radius: 5px;
    
}