body {
    background: rgb(235, 216, 216);
}
header {
    text-align: center;
    font-family: fantasy;
}

#button {
    padding: 5px;
    background-color: rgb(199, 26, 26);
}
#userinput {
    border-bottom: 2px solid gray;
}
.section {
    position: absolute;
    margin: 0 1em; 
    top: 30%;
    left: 38%;  
}
.enter {
    border: 2px;
    border-radius: 10px;
    background-color: rgb(255, 40, 40);
    width: 250px;
    padding: 5px;
}
.list {
    background-color: rgb(255, 40, 40);
    border-radius: 10px;
    padding: 2em;

}
li:hover {
    transform: scale(1.1);
}

.delete {
    display: none;
}

.done {
    background: green !important;
    color: blue;
}